CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_NVS_PERSIST=y
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME_MAX_LEN=32
CONFIG_NIMBLE_CPP_IDF=n
CONFIG_ZAFIRA_BLE_DEVICE_NAME="Zafira"
CONFIG_ZAFIRA_BLE_PROFILE_UUID="A1234567-1234-1234-1234-A12345678901"
CONFIG_ZAFIRA_BLE_MTU=517
CONFIG_ZAFIRA_DISPLAY_SDA_GPIO=9
CONFIG_ZAFIRA_DISPLAY_SCL_GPIO=8
CONFIG_ZAFIRA_DISPLAY_MRQ_GPIO=7

# OTA over BLE
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=517
CONFIG_BT_NIMBLE_MSYS1_BLOCK_COUNT=24
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="0.0.0"
